In [1]:
#Dependencies and Setup
from api_keys import KAGGLE_USERNAME, KAGGLE_KEY
import os
import json
import plotly.express as px
import pandas as pd

#Set environment variables for Kaggle API
os.environ["KAGGLE_USERNAME"] = KAGGLE_USERNAME
os.environ["KAGGLE_KEY"] = KAGGLE_KEY

#Download Kaggle datasets
!kaggle datasets download -d asaniczka/data-science-job-postings-and-skills --unzip

Dataset URL: https://www.kaggle.com/datasets/asaniczka/data-science-job-postings-and-skills
License(s): ODC Attribution License (ODC-By)
Downloading data-science-job-postings-and-skills.zip to /Users/amandadelgado/Desktop/project-3
 88%|█████████████████████████████████▎    | 17.0M/19.4M [00:00<00:00, 25.2MB/s]
100%|██████████████████████████████████████| 19.4M/19.4M [00:01<00:00, 18.8MB/s]

In [2]:
# Load CSV files
job_skills_df = pd.read_csv("job_skills.csv")
job_postings_df = pd.read_csv("job_postings.csv")
pd.set_option('display.max_columns', None)

# Merge job_postings and job_skills dataframes on the 'job_link' column
job_skills_postings_merged_df = pd.merge(job_postings_df, job_skills_df, on='job_link', how='inner')
job_skills_postings_merged_df.head()

,job_link,last_processed_time,last_status,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type,job_skills
0,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-21 08:08:48.031964+00,Finished NER,t,t,f,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",2024-01-14,East Haven,United States,Agricultural-Research Engineer,Mid senior,Onsite,"Machine Learning, Programming, Python, Scala, ..."
1,https://www.linkedin.com/jobs/view/principal-s...,2024-01-20 04:02:12.331406+00,Finished NER,t,t,f,"Principal Software Engineer, ML Accelerators",Aurora,"San Francisco, CA",2024-01-14,El Cerrito,United States,Set-Key Driver,Mid senior,Onsite,"C++, Python, PyTorch, TensorFlow, MXNet, CUDA,..."
2,https://www.linkedin.com/jobs/view/senior-etl-...,2024-01-21 08:08:31.941595+00,Finished NER,t,t,f,Senior ETL Data Warehouse Specialist,Adame Services LLC,"New York, NY",2024-01-14,Middletown,United States,Technical Support Specialist,Associate,Onsite,"ETL, Data Integration, Data Transformation, Da..."
3,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:30:55.796572+00,Finished NER,t,t,f,Senior Data Warehouse Developer / Architect,Morph Enterprise,"Harrisburg, PA",2024-01-12,Lebanon,United States,Architect,Mid senior,Onsite,"Data Lakes, Data Bricks, Azure Data Factory Pi..."
4,https://www.linkedin.com/jobs/view/lead-data-e...,2024-01-21 08:08:58.312124+00,Finished NER,t,t,f,Lead Data Engineer,Dice,"Plano, TX",2024-01-14,McKinney,United States,Maintenance Data Analyst,Mid senior,Onsite,"Java, Scala, Python, RDBMS, NoSQL, Redshift, S..."

In [3]:
#Remove unwanted columns
job_skills_postings_df = job_skills_postings_merged_df[['job_title',
                                                        'company',
                                                        'job_location',
                                                        'first_seen',
                                                        'search_country',
                                                        'search_position',
                                                        'job_level',
                                                        'job_type',
                                                        'job_skills'
                                                       ]]
job_skills_postings_df

,job_title,company,job_location,first_seen,search_country,search_position,job_level,job_type,job_skills
0,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",2024-01-14,United States,Agricultural-Research Engineer,Mid senior,Onsite,"Machine Learning, Programming, Python, Scala, ..."
1,"Principal Software Engineer, ML Accelerators",Aurora,"San Francisco, CA",2024-01-14,United States,Set-Key Driver,Mid senior,Onsite,"C++, Python, PyTorch, TensorFlow, MXNet, CUDA,..."
2,Senior ETL Data Warehouse Specialist,Adame Services LLC,"New York, NY",2024-01-14,United States,Technical Support Specialist,Associate,Onsite,"ETL, Data Integration, Data Transformation, Da..."
3,Senior Data Warehouse Developer / Architect,Morph Enterprise,"Harrisburg, PA",2024-01-12,United States,Architect,Mid senior,Onsite,"Data Lakes, Data Bricks, Azure Data Factory Pi..."
4,Lead Data Engineer,Dice,"Plano, TX",2024-01-14,United States,Maintenance Data Analyst,Mid senior,Onsite,"Java, Scala, Python, RDBMS, NoSQL, Redshift, S..."
...,...,...,...,...,...,...,...,...,...
12212,"Data Reporting Manager, FOOTBALL ASSOCIATION",Guardian Jobs,"Wembley, England, United Kingdom",2024-01-16,United Kingdom,Manager Forms Analysis,Mid senior,Onsite,"Dashboard development, Reporting, Power BI, SQ..."
12213,Corporate AML Alert Investigation Specialist,"Glacier Bancorp, Inc.","Kalispell, MT",2024-01-14,United States,Teller,Mid senior,Onsite,"Investigation, Antimoney laundering, Fraud, Ba..."
12214,Senior Data Scientist,Highnote,"San Francisco, CA",2024-01-16,United States,Mathematician,Mid senior,Onsite,"Data Science, Quantitative Modeling, SQL, Data..."
12215,Senior Data Engineer,CompSource Mutual Insurance Company,"Oklahoma City, OK",2024-01-16,United States,Protection Engineer,Mid senior,Onsite,"Data Engineering, Data Quality, SQL, Python, T..."
12216,"Medical Technologist, MLS or MLT",Community Health Systems,"Mooresville, NC",2024-01-14,United States,Biologist,Mid senior,Onsite,"Medical Technology, MLS, Microbiology, Clinica..."

In [4]:
job_skills_postings_df.count()

job_title          12217
company            12217
job_location       12216
first_seen         12217
search_country     12217
search_position    12217
job_level          12217
job_type           12217
job_skills         12212
dtype: int64

In [5]:
#Rename columns
job_skills_postings_df = job_skills_postings_df.rename(columns={"job_title": "Job Title",
                                                        "company": "Company",
                                                        "job_location": "Job Location",
                                                        "first_seen": "Job Posting Seen",
                                                        "search_country": "Country",
                                                        "search_position": "Position",
                                                        "job_level": "Job Level",
                                                        "job_type": "Job Type",
                                                        "job_skills": "Job Skills"
                                                               })

# Ensure all entries in 'Job Location' are strings for consistent splitting
job_skills_postings_df['Job Location'] = job_skills_postings_df['Job Location'].astype(str)

# Split 'Job Location' into 'Job Location City' and 'Job Location State'
split_location = job_skills_postings_df['Job Location'].str.split(', ', n=1, expand=True)
job_skills_postings_df['Job Location City'] = split_location[0]
job_skills_postings_df['Job Location State'] = split_location[1]

# Reorder columns to place 'Job Location City' and 'Job Location State' after 'Job Location'
columns = list(job_skills_postings_df.columns)
new_order = columns[:3] + ['Job Location City', 'Job Location State'] + columns[3:-2]
job_skills_postings_df = job_skills_postings_df[new_order]

job_skills_postings_df

,Job Title,Company,Job Location,Job Location City,Job Location State,Job Posting Seen,Country,Position,Job Level,Job Type,Job Skills
0,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",New Haven,CT,2024-01-14,United States,Agricultural-Research Engineer,Mid senior,Onsite,"Machine Learning, Programming, Python, Scala, ..."
1,"Principal Software Engineer, ML Accelerators",Aurora,"San Francisco, CA",San Francisco,CA,2024-01-14,United States,Set-Key Driver,Mid senior,Onsite,"C++, Python, PyTorch, TensorFlow, MXNet, CUDA,..."
2,Senior ETL Data Warehouse Specialist,Adame Services LLC,"New York, NY",New York,NY,2024-01-14,United States,Technical Support Specialist,Associate,Onsite,"ETL, Data Integration, Data Transformation, Da..."
3,Senior Data Warehouse Developer / Architect,Morph Enterprise,"Harrisburg, PA",Harrisburg,PA,2024-01-12,United States,Architect,Mid senior,Onsite,"Data Lakes, Data Bricks, Azure Data Factory Pi..."
4,Lead Data Engineer,Dice,"Plano, TX",Plano,TX,2024-01-14,United States,Maintenance Data Analyst,Mid senior,Onsite,"Java, Scala, Python, RDBMS, NoSQL, Redshift, S..."
...,...,...,...,...,...,...,...,...,...,...,...
12212,"Data Reporting Manager, FOOTBALL ASSOCIATION",Guardian Jobs,"Wembley, England, United Kingdom",Wembley,"England, United Kingdom",2024-01-16,United Kingdom,Manager Forms Analysis,Mid senior,Onsite,"Dashboard development, Reporting, Power BI, SQ..."
12213,Corporate AML Alert Investigation Specialist,"Glacier Bancorp, Inc.","Kalispell, MT",Kalispell,MT,2024-01-14,United States,Teller,Mid senior,Onsite,"Investigation, Antimoney laundering, Fraud, Ba..."
12214,Senior Data Scientist,Highnote,"San Francisco, CA",San Francisco,CA,2024-01-16,United States,Mathematician,Mid senior,Onsite,"Data Science, Quantitative Modeling, SQL, Data..."
12215,Senior Data Engineer,CompSource Mutual Insurance Company,"Oklahoma City, OK",Oklahoma City,OK,2024-01-16,United States,Protection Engineer,Mid senior,Onsite,"Data Engineering, Data Quality, SQL, Python, T..."
12216,"Medical Technologist, MLS or MLT",Community Health Systems,"Mooresville, NC",Mooresville,NC,2024-01-14,United States,Biologist,Mid senior,Onsite,"Medical Technology, MLS, Microbiology, Clinica..."

In [6]:
print(job_skills_postings_df["Job Posting Seen"].dtype)

object

In [7]:
# Convert 'Job Posting Seen' to datetime format
job_skills_postings_df["Job Posting Seen"] = pd.to_datetime(job_skills_postings_df["Job Posting Seen"])
print(job_skills_postings_df["Job Posting Seen"].dtype)

datetime64[ns]

In [8]:
country_counts = job_skills_postings_df['Country'].value_counts()
print(country_counts)

Country
United States     10291
United Kingdom      995
Canada              630
Australia           301
Name: count, dtype: int64

In [9]:
# Filter the DataFrame for rows where Country is 'United States'
us_job_skills_df = job_skills_postings_df[job_skills_postings_df["Country"] == "United States"]
us_job_skills_counts = us_job_skills_df['Country'].value_counts()
print(us_job_skills_counts)

Country
United States    10291
Name: count, dtype: int64

In [10]:
# Display the first few rows of the 'Job Skills' column to inspect the structure
print(us_job_skills_df["Job Skills"].head())

0    Machine Learning, Programming, Python, Scala, ...
1    C++, Python, PyTorch, TensorFlow, MXNet, CUDA,...
2    ETL, Data Integration, Data Transformation, Da...
3    Data Lakes, Data Bricks, Azure Data Factory Pi...
4    Java, Scala, Python, RDBMS, NoSQL, Redshift, S...
Name: Job Skills, dtype: object

In [11]:
# Split 'Job Skills' by comma in the filtered DataFrame
us_job_skills_df.loc[:, "Job Skills"] = us_job_skills_df["Job Skills"].str.split(",")

# Explode to create a new row for each skill
skills_df = us_job_skills_df.explode("Job Skills")

# Strip whitespace around each skill
skills_df["Job Skills"] = skills_df["Job Skills"].str.strip()

# Drop any empty strings that may remain
skills_df = skills_df[skills_df["Job Skills"] != ""]

In [19]:
skills_df

,Job Title,Company,Job Location,Job Location City,Job Location State,Job Posting Seen,Country,Position,Job Level,Job Type,Job Skills
0,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",New Haven,CT,2024-01-14,United States,Agricultural-Research Engineer,Mid senior,Onsite,machine learning
0,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",New Haven,CT,2024-01-14,United States,Agricultural-Research Engineer,Mid senior,Onsite,programming
0,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",New Haven,CT,2024-01-14,United States,Agricultural-Research Engineer,Mid senior,Onsite,python
0,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",New Haven,CT,2024-01-14,United States,Agricultural-Research Engineer,Mid senior,Onsite,scala
0,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",New Haven,CT,2024-01-14,United States,Agricultural-Research Engineer,Mid senior,Onsite,java
...,...,...,...,...,...,...,...,...,...,...,...
12216,"Medical Technologist, MLS or MLT",Community Health Systems,"Mooresville, NC",Mooresville,NC,2024-01-14,United States,Biologist,Mid senior,Onsite,graduation from accredited mt/mls program
12216,"Medical Technologist, MLS or MLT",Community Health Systems,"Mooresville, NC",Mooresville,NC,2024-01-14,United States,Biologist,Mid senior,Onsite,national exam passing
12216,"Medical Technologist, MLS or MLT",Community Health Systems,"Mooresville, NC",Mooresville,NC,2024-01-14,United States,Biologist,Mid senior,Onsite,board of registry
12216,"Medical Technologist, MLS or MLT",Community Health Systems,"Mooresville, NC",Mooresville,NC,2024-01-14,United States,Biologist,Mid senior,Onsite,american society for clinical pathology
12216,"Medical Technologist, MLS or MLT",Community Health Systems,"Mooresville, NC",Mooresville,NC,2024-01-14,United States,Biologist,Mid senior,Onsite,microbiology experience

In [20]:
# Count occurrences of each skill and get the top 15
top_skills = skills_df["Job Skills"].value_counts().head(15)
print(top_skills)

Job Skills
python                  4075
sql                     3858
data analysis           2677
machine learning        2310
communication           2020
data visualization      1892
aws                     1561
project management      1465
data science            1435
data engineering        1434
tableau                 1406
communication skills    1400
data modeling           1304
java                    1298
r                       1276
Name: count, dtype: int64

In [21]:
# Extract only the skill names and convert to lowercase
top_skills_list = top_skills.index.str.lower().tolist()

# Filter 'skills_df' to include only rows with these top skills
top_skills_df = skills_df[skills_df["Job Skills"].isin(top_skills_list)]

top_skills_df

,Job Title,Company,Job Location,Job Location City,Job Location State,Job Posting Seen,Country,Position,Job Level,Job Type,Job Skills
0,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",New Haven,CT,2024-01-14,United States,Agricultural-Research Engineer,Mid senior,Onsite,machine learning
0,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",New Haven,CT,2024-01-14,United States,Agricultural-Research Engineer,Mid senior,Onsite,python
0,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",New Haven,CT,2024-01-14,United States,Agricultural-Research Engineer,Mid senior,Onsite,java
0,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",New Haven,CT,2024-01-14,United States,Agricultural-Research Engineer,Mid senior,Onsite,data engineering
0,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",New Haven,CT,2024-01-14,United States,Agricultural-Research Engineer,Mid senior,Onsite,data visualization
...,...,...,...,...,...,...,...,...,...,...,...
12214,Senior Data Scientist,Highnote,"San Francisco, CA",San Francisco,CA,2024-01-16,United States,Mathematician,Mid senior,Onsite,tableau
12214,Senior Data Scientist,Highnote,"San Francisco, CA",San Francisco,CA,2024-01-16,United States,Mathematician,Mid senior,Onsite,machine learning
12215,Senior Data Engineer,CompSource Mutual Insurance Company,"Oklahoma City, OK",Oklahoma City,OK,2024-01-16,United States,Protection Engineer,Mid senior,Onsite,data engineering
12215,Senior Data Engineer,CompSource Mutual Insurance Company,"Oklahoma City, OK",Oklahoma City,OK,2024-01-16,United States,Protection Engineer,Mid senior,Onsite,sql
12215,Senior Data Engineer,CompSource Mutual Insurance Company,"Oklahoma City, OK",Oklahoma City,OK,2024-01-16,United States,Protection Engineer,Mid senior,Onsite,python

In [23]:
job_level_counts = top_skills_df['Job Level'].value_counts()
print(job_level_counts)

Job Level
Mid senior    26402
Associate      3009
Name: count, dtype: int64

In [24]:
#Export dataframe to .csv
us_job_skills_df.to_csv('us_job_skills.csv', index = False)