# USA Job Analysis

## Job Experience Analysis:

## In this section of our analysis, we look at how experience level effects your salary and how many jobs you can find at a certain experience level.

In [3]:
# Import Libraries
import pandas as pd
import plotly.express as px

In [5]:
# Read in Csv file
job_experience_data= pd.read_csv("job_experience.csv")
job_experience_data.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Company Size,Job Title,Role,Company,Min_experience,Max_experience,Average_experience,Average_Salary
0,579575048679091,3 to 9 Years,MCA,$59K-$117K,"Washington, D.C.",USA,37,-95,126334,Network Engineer,Wireless Network Engineer,Lendlease Group,3,9,6.0,88000
1,288941837754490,4 to 15 Years,B.Tech,$57K-$117K,"Washington, D.C.",USA,37,-95,35869,Landscape Architect,Urban Planner,United Technologies Corporation,4,15,9.5,87000
2,2802376880223274,0 to 9 Years,B.Tech,$63K-$90K,"Washington, D.C.",USA,37,-95,80163,UX Researcher,UX Strategist,International Flavors & Fragrances,0,9,4.5,76500
3,2393222411935908,5 to 11 Years,MCA,$55K-$124K,"Washington, D.C.",USA,37,-95,79017,HR Coordinator,Benefits Coordinator,KeyCorp,5,11,8.0,89500
4,2402523179167443,0 to 10 Years,MCA,$65K-$91K,"Washington, D.C.",USA,37,-95,65144,Landscape Architect,Environmental Designer,Exelon,0,10,5.0,78000

In [ ]:
#